
extends layout

block content
	body.login_ldap
		form(method='POST', action='/auth/ldap')
			label
				Username:
			input(name='username')
			label
				Password:
			input(name='password')
			input(type='submit')
