
extends layout

block content
	body.login_ldap
		form(method='POST', action='/auth/ldap')
			label Username:
			input(name='username')
			br
			label Password:
			input(name='password')
			br
			input(type='submit')
